n8n/01-waitlist-signup.json
{
  "name": "01 - Inscrição na Waitlist (Confirmar + Enriquecer)",
  "nodes": [
    {
      "parameters": {},
      "id": "ManualTrigger",
      "name": "Disparo Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/waitlist_signups?select=*&order=created_at.desc&limit=10",
        "options": {
          "response": "json",
          "ignoreResponseCode": true
        },
        "sendHeaders": true,
        "headerParametersUi": {
          "parameter": [
            {"name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"},
            {"name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"},
            {"name": "Accept-Profile", "value": "public"},
            {"name": "Content-Profile", "value": "public"}
          ]
        }
      },
      "id": "FetchRecentSignups",
      "name": "Buscar Inscrições Recentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [420, 200]
    },
    {
      "parameters": {
        "functionCode": "// Map to edge function payloads for Resend confirmation\nconst out = [];\nfor (const item of items) {\n  const r = item.json;\n  if (!r.email) continue;\n  out.push({ json: {\n    path: 'send-email',\n    body: { to: r.email, subject: 'Confirmação de inscrição', html: `<p>Obrigado por se inscrever, ${r.email}!</p>` }\n  }});\n}\nreturn out;"
      },
      "id": "MapToEmailPayloads",
      "name": "Mapear para Payloads de E-mail",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "url": "={{$json.path}}",
        "options": {"response": "json"},
        "sendHeaders": true,
        "headerParametersUi": {"parameter": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{$json.body}}"
      },
      "id": "EdgeSendEmail",
      "name": "Função Edge: send-email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend-edge-function-placeholder",
          "name": "Função Edge Resend"
        }
      }
    }
  ],
  "connections": {
    "Disparo Manual": {"main": [[{"node": "Buscar Inscrições Recentes", "type": "main", "index": 0}]]},
    "Buscar Inscrições Recentes": {"main": [[{"node": "Mapear para Payloads de E-mail", "type": "main", "index": 0}]]},
    "Mapear para Payloads de E-mail": {"main": [[{"node": "Função Edge: send-email", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {},
  "staticData": null
}
