n8n/06-ugc-video-generator.json
{
  "name": "06 - UGC Video Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "ManualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.product_image_url}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "CheckImage",
      "name": "Check Product Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "url": "={{$json.product_image_url}}",
        "options": {
          "response": "json"
        }
      },
      "id": "ImageAnalyzer",
      "name": "Image Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 200]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/storage/v1/object/ugc-temp/{{$json.product_id}}.jpg",
        "options": {
          "response": "json"
        },
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={ image_url: $json.product_image_url }"
      },
      "id": "UploadTempImage",
      "name": "Upload Temp Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "functionCode": "const copy = $json.dialog_type === 'custom' ? $json.copy : `Default copy for ${$json.product_name}`; return [{ json: { ...$json, script: copy } }];"
      },
      "id": "UGCDirector",
      "name": "UGC Director",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check Product Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Product Image": {
      "main": [
        [
          {
            "node": "Image Analyzer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UGC Director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Analyzer": {
      "main": [
        [
          {
            "node": "Upload Temp Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Temp Image": {
      "main": [
        [
          {
            "node": "UGC Director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null
}
